.c-work{
    
    &__list{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 20px 2%;
        & li{
            // width: 100%;
            width: 31%;
            & img{
                width: 100%;
            }
            @include sp{
                width: 100%;
            }
        }
    }
}