.p-sections{
    // display: flex;
    // justify-content: center;
    // align-items: center;
    max-width: 857.6px;
    margin: 0 auto;
    padding: 80px 4% 0;

}
.p-section{
    margin-bottom: 130px;
    // &:not(:first-child){
    //     margin-top: 150px;
    // }
    &>h2{
        text-align: center;
        margin-bottom: 65px;
    }
}